<% include ./partials/header %>

 <div class="ui main text container segment">
    <div class="ui huge header">Edit <%=recipe.title%></div>
    <form class="ui form" action="/recipes/<%=recipe._id %>?_method=PUT" method="POST">
       <div class="field">
           <label>Title</label>
        <input type="text" name="recipe[title]" value="<%=recipe.title%>">
        </div>
        <div class="field">
           <label>Image</label>
        <input type="text" name="recipe[image]" value="<%=recipe.image%>">
        </div>
        <div class="fields">
          <div class="field">
             <label>Difficulty</label>
             <select class="ui fluid search dropdown" name="recipe[difficulty]">
              <option value="Easy">Easy</option>
              <option value="Average">Average</option>
              <option value="Difficult">Difficult</option>
             </select>
          </div>
          <div class="field">
             <label>Preparation</label>
             <input type="text" name="recipe[preparation]" value="<%=recipe.preparation%>">
          </div>
          <div class="field">
             <label>Cooking</label>
             <input type="text" name="recipe[cooking]" value="<%=recipe.cooking%>">
          </div>
          <div class="field">
             <label>Portion</label>
             <input type="text" name="recipe[portion]" value="<%=recipe.portion%>">
          </div>
         </div>
        <div class="field">
           <label>Recipe content</label>
           <textarea name="recipe[body]"><%=recipe.body%></textarea>
        </div>
        <input class="ui big brown inverted button" type="submit">
    </form>
</div>

<% include ./partials/footer %>