<% include ../partials/header %>

<div class="container">
 <div class="row">
  <div class="col-lg-3 d-none d-lg-block justify-content-between">
   <div class="card card-inverse text-center "> 
     <img class="card-img-top img-fluid mt-4 mr-2" src="https://images.unsplash.com/photo-1516715043227-1cdf27bcd09a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80" alt="leaves of tea on wooden background"><!--img-fluid rounded float-left-->
        <div class="card-img-overlay align-items-center justify-content-center">
         <ul class="list-unstyled card-text text-left mx-2 my-3">
           <li><a class="card-link text-light bg-none" href="#">Breakfasts</a></li>
           <li><a class="card-link text-light bg-none" href="#">Smoothies</a></li>
           <li><a class="card-link text-light bg-none" href="#">Salads</a></li>
           <li><a class="card-link text-light bg-none" href="#">Meals</a></li>
           <li><a class="card-link text-light bg-none" href="#">Dressings</a></li>
           <li><a class="card-link text-light bg-none" href="#">Soups</a></li>
           <li><a class="card-link text-light bg-none" href="#">Snacks</a></li>
           <li><a class="card-link text-light bg-none" href="#">Desserts</a></li>
           <li><a class="card-link text-light bg-none" href="#">Drinks</a></li>
         </ul>
        </div>
    </div>
 </div>
 
   <div class="col-md-9 justify-content-between">
     <div class="card mb-3">
          <img src="<%= recipe.image %>" class="card-img-top" alt="<%= recipe.title %>">
        <div class="card-body">
            <h5 class="card-title"><%=recipe.title%></h5>
            <p>
                <em>Submitted By <%=recipe.author.username%></em>
            </p>
            <hr>
            <div class="container">
              <table class="table">
               <thead>
                <tr class="yelhead">
                 <th>Difficulty</th>
                 <th>Preparation</th>
                 <th>Cooking</th>
                 <th>Portion</th>
                 <th>Cost</th>
                </tr>
               </thead>
               <tbody id="yelbody">
                <tr>
                 <td><%=recipe.difficulty%></td>
                 <td><%=recipe.preparation%> minutes</td>
                 <td><%=recipe.cooking%> minutes</td>
                 <td><%=recipe.portion%> persons</td>
                 <td><%=recipe.cost%> euro</td>
                </tr>
               </tbody>
              </table>
             </div>
           <hr> 
            <p class="card-text">
              <%=recipe.description%>
            </p>
            <% if(currentUser && recipe.author.id.equals(currentUser._id)){ %>
               <a class="btn btn-warning" href="/recipes/<%=recipe._id%>/edit">Edit</a>
               <form action="/recipes/<%=recipe._id%>?_method=DELETE" method="POST">
                   <button class="btn btn-danger">Delete</button>
               </form>
            <% } %>
        </div>
    </div>
           
   <div class="card">
     <div class="card-body">
       <div class="text-right">
        <a class="btn btn-success" href="/recipes/<%= recipe._id %>/comments/new">Add New Comment</a>
       </div>
       <hr>
    <div class="row">
      <% recipe.comments.forEach(function(comment){ %>
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="float-left">
                    <p class="card-title"><%=comment.author.username%></p>
                    <p class="card-text"><%=comment.text%></p>
                  </div>
                  <div class="float-right">
                  <p><%= moment(comment.createdAt).fromNow() %></p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                      <div class="float-right">
                       <a href="/recipes/<%=campground._id%>/comments/<%=comment._id%>/edit" class="btn btn-sm btn-warning">Edit</a>
                        <form class="delete-form" action="/recipes/<%=recipe._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">DELETE</button>
                        </form>
                       </div>
                    <% } %>
                  </div>
                  </div>
                </div>
              </div>
      <% }); %>
      </div>
     </div>
    </div>
   </div>
  </div>
</div>

<% include ../partials/footer %>